#test {
	border: 2px solid blue;
	padding: 20px;
	border-radius: 25px;
}

#timer {
	font-family: 'Kumar One Outline', cursive;
	font-size: 1em;
	color: red;
	display: inline-block;
	float:right;
}

#test_score {
	display: inline-block;
	/*float: left;
	margin-left: 100px;*/
}
#test_status {
	display: inline-block;
	float:left;

}
#test_info {
	text-align: center;
}

img {
	width:90%;
}